.pagination {
  display: flex;
  align-items: center;

  &__button {
    @include size(40px);
    $border-color: #e3e5ec;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    cursor: pointer;
    &:hover {
      border-color: darken($border-color, 10%);
    }
    &:focus {
      box-shadow: 0 0 1px 1px $border-color;
    }
    &--prev {
      .pagination {
        &__button-arrow {
          transform: rotate(90deg);
        }
      }
    }
    &--next {
      .pagination {
        &__button-arrow {
          transform: rotate(-90deg);
        }
      }
    }
  }
  &__button-arrow {
    @include size(24px);

    display: block;
    background-image: url('../../../../assets/images/collapse-icon.svg');
  }
  &__page {
    @include font-style($fira-sans-regular, 18px, $black-3);

    margin: 0 20px;
    line-height: 22px;
  }
}
