$white: #fff;

$black-1: #3d3d3d;
$black-2: #6a6a6a;
$black-3: #656871;
$black-4: #25292d;
$black-5: #27282C;
$black-6: #34373c;

$gray-1: #3d4046;
$gray-2: #a8a8a8;
$gray-3: #d1d4dc;
$gray-4: #f9f9f9;
$gray-5: #dadee6;

$blue-1: #c288ff;
$blue-2: #0071ce;
$blue-3: #a653e4;
$blue-4: #0066bA;
$blue-5: #338dd8;
$blue-8-link: #40a4fd;

$accent-2: #17ba5f;
$accent-3: #ffd200;
