$white: #fff;

$black-1: #3d3d3d;
$black-2: #6a6a6a;
$black-3: #656871;

$gray-1: #3d4046;
$gray-2: #a8a8a8;

$blue-1: #c288ff;
$blue-2: #0071ce;
$blue-3: #a653e4;
$blue-4: #0066BA;
$blue-5: #338DD8;
$blue-8-link: #40a4fd;

$accent-2: #17ba5f;
$accent-3: #ffd200;
