$fira-sans-light: 'Fira-Sans-light', sans-serif;
$fira-sans-regular: 'Fira-Sans-regular', sans-serif;
$fira-sans-medium: 'Fira-Sans-medium', sans-serif;

$open-sans-regular: 'Open-Sans-regular', sans-serif;
$open-sans-semibold: 'Open-Sans-semibold', sans-serif;
$open-sans-extrabold: 'Open-Sans-extrabold', sans-serif;
