.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: $black-4;

  &__container {
    @extend .container;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    .nav {
      &__link-icon {
        margin-left: 6px;
      }
    }
  }
  @media (max-width: 1023px) {
    height: 75px;
    .menu {
      display: none;
    }
    &__nav {
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      transform: translateX(-100%);
      transition: 0.3s ease;
      background-color: $black-1;
      .nav {
        &__list {
          justify-content: center;
        }
      }
      &--mobile-open {
        transform: translateX(0);
      }
    }
  }
}
