.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: $black-4;

    &__container {
        @extend .container;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
