.offer {
  padding: 100px 0 110px;
  background-color: $white;

  &__container {
    @extend .container;

    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
  &__cards-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__link {
    width: 170px;
    height: 48px;
  }
  &__discount {
    max-width: 570px;
    padding: 40px;
    background-color: $blue-2;
  }
  &__discount-logo {
    width: 60px;
    margin-bottom: 40px;
  }
  &__discount-title {
    @include font-style($fira-sans-medium, 36px, $white);

    margin-bottom: 15px;
    line-height: 50px;
  }
  &__discount-description {
    @include font-style($fira-sans-regular, 18px, $white);

    margin-bottom: 34px;
    line-height: 32px;
  }
  &__discount-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__discount-price {
    @include font-style($fira-sans-regular, 22px, $accent-3);

    line-height: 32px;
    &--medium {
      margin-left: 16px;
      font-size: 46px;
      line-height: 64px;
    }
  }

  @media (max-width: 1200px) {
    &__discount-logo {
      margin-bottom: 25px;
    }
    &__discount-info {
      gap: 10px;
    }
    &__discount-description {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 1023px) {
    padding: 50px 0 70px;

    &__container {
      flex-direction: column;
    }
    &__discount {
      order: -1;
      max-width: 100%;
    }
    &__discount-info {
      justify-content: flex-end;
    }
  }
  @media (max-width: 550px) {
    &__discount {
      padding: 20px;
    }
    &__discount-title {
      font-size: 28px;
    }
  }
}
