.articles {
  padding: 90px 0 110px;
  background-color: $white;

  &__container {
    @extend .container;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }
  &__content {
    display: flex;
    row-gap: 50px;
    column-gap: 30px;
    flex-wrap: wrap;
  }
  .article-card {
    width: calc((100% / 3) - 20px);
  }
  @media (max-width: 1023px) {
    padding: 50px 0 70px;

    .article-card {
      width: calc((100% / 2) - 20px);
    }
  }
  @media (max-width: 767px) {
    .article-card {
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    &__header {
      flex-direction: column;
      gap: 20px;
    }
  }
}
